Basic Dictionary Operations
![Tabla de operaciones basicas](Captura%20de%20pantalla%202024-10-16%20104343.png)

In [40]:
D = {'spam': 2, 'ham': 1, 'eggs': 3}
D['spam']

2

In [41]:
len(D)
'ham' in D
list(D.keys())

['spam', 'ham', 'eggs']

Changing Dictionaries in Place

In [42]:
D

{'spam': 2, 'ham': 1, 'eggs': 3}

In [43]:
D['ham'] = ['grill', 'bake', 'fry']
D

{'spam': 2, 'ham': ['grill', 'bake', 'fry'], 'eggs': 3}

In [44]:
del D['eggs']
D

{'spam': 2, 'ham': ['grill', 'bake', 'fry']}

In [45]:
D['brunch'] = 'Bacon'
D

{'spam': 2, 'ham': ['grill', 'bake', 'fry'], 'brunch': 'Bacon'}

More Dictionary Methods

In [46]:
D = {'spam': 2, 'ham': 1, 'eggs': 3}
list(D.values())

[2, 1, 3]

In [47]:
list(D.items())

[('spam', 2), ('ham', 1), ('eggs', 3)]

In [48]:
D.get('spam')

2

In [49]:
print(D.get('toast'))

None

In [50]:
D.get('toast', 88)

88

In [51]:
D

{'spam': 2, 'ham': 1, 'eggs': 3}

In [52]:
D2 = {'toast':4, 'muffin':5}

In [53]:
D.update(D2)

In [54]:
D

{'spam': 2, 'ham': 1, 'eggs': 3, 'toast': 4, 'muffin': 5}

In [55]:
D.pop('muffin')

5

In [56]:
D.pop('toast')

4

In [57]:
D

{'spam': 2, 'ham': 1, 'eggs': 3}

In [58]:
L = ['aa', 'bb', 'cc', 'dd']
L.pop()

'dd'

In [59]:
L

['aa', 'bb', 'cc']

In [60]:
L.pop(1)

'bb'

In [61]:
L

['aa', 'cc']

Example: Movie Database

In [62]:
table = {'1975': 'Holy Grail', # Key: Value
         '1979': 'Life of Brian',
         '1983': 'The Meaning of Life'}

year = '1983'
movie = table[year] # dictionary[Key] => Value
movie
'The Meaning of Life'
for year in table: # Same as: for year in table.keys()  
    print(year + '\t' + table[year])

1975	Holy Grail
1979	Life of Brian
1983	The Meaning of Life

Preview: Mapping values to keys

In [63]:
table = {'Holy Grail': '1975', # Key=>Value (title=>year)
    'Life of Brian': '1979',
    'The Meaning of Life': '1983'}

table['Holy Grail']

'1975'

In [64]:
list(table.items())

[('Holy Grail', '1975'),
 ('Life of Brian', '1979'),
 ('The Meaning of Life', '1983')]

In [65]:
K = 'Holy Grail'
table[K]

'1975'

In [66]:
V = '1975'
[key for (key, value) in table.items() if value == V]

['Holy Grail']

In [67]:
[key for key in table.keys() if table[key] == V]

['Holy Grail']

Dictionary Usage Notes

In [68]:
L = []
L[99] = 'spam'

IndexError: list assignment index out of range

In [22]:
D = {}
D[99] = 'spam'
D[99]

'spam'

In [23]:
D

{99: 'spam'}

In [24]:
table = {1975: 'Holy Grail',
    1979: 'Life of Brian', # Keys are integers, not strings
    1983: 'The Meaning of Life'}
table[1975]

'Holy Grail'

In [ ]:
list(table.items())

In [36]:
Matrix = {}
Matrix[(2, 3, 4)] = 88
Matrix[(7, 8, 9)] = 99

X = 2; Y = 3; Z = 4 # ; separates statements: see Chapter 10
Matrix[(X, Y, Z)]

88

In [37]:
Matrix

{(2, 3, 4): 88, (7, 8, 9): 99}

In [38]:
Matrix[(2,3,6)]

KeyError: (2, 3, 6)

Avoiding missing-key errors

In [39]:
if (2, 3, 6) in Matrix: # Check for key before fetch
    print(Matrix[(2, 3, 6)]) # See Chapters 10 and 12 for if/else
else:
    print(0)

0

In [69]:
    try:
        print(Matrix[(2, 3, 6)]) # Try to index
    except KeyError: # Catch and recover
        print(0)

0

In [70]:
Matrix.get((2, 3, 4), 0)

88

In [71]:
Matrix.get((2, 3, 6), 0)

0

Nesting in dictionaries

In [72]:
    rec = {}
    rec['name'] = 'Bob'
    rec['age'] = 40.5
    rec['job'] = 'developer/manager'

    print(rec['name'])

Bob

In [73]:
    rec = {'name': 'Bob',
           'jobs': ['developer', 'manager'],
           'web': 'www.bobs.org/ ̃Bob',
           'home': {'state': 'Overworked', 'zip': 12345}}

In [76]:
rec['name']

'Bob'

In [75]:
rec['jobs']

['developer', 'manager']

In [74]:
rec['jobs'][1]

'manager'